<div class="nav-menu">
    <ul>
        <li>
            <NavLink href="" Match="NavLinkMatch.All">Home</NavLink>
        </li>
        <li>
            <NavLink href="Game">Play Sudoku</NavLink>
        </li>
    </ul>
</div>
